* {
    vertical-align: top;
    box-sizing: border-box;
}




body {
  font-family: helvetica;
  font-size: 0;
  margin: 0;
  padding: 0;
  background: url("../img/homevid.gif");
  background-size: 100%;
  background-position: no-repeat;
  /* Oval: */
  /* Oval: */
}

.wrapper {
   width: 205px;
   height: 75px;
   /*border: 3px solid white;*/
   margin: 0 auto;
   transform: translate(0, 600px);
   font-family: helvetica;
   font-size: 10px;
   font-style: italic;
   -webkit-transform: rotateX(150deg); /* Safari */
     transform: rotateX(150deg);

  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 9s linear infinite;
  -webkit-animation: scroll-left 9s linear infinite;
  animation: scroll-left 9s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes scroll-left {
  0%   {
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%);
  }
  100% {
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%);
}
}


.s-container {
  margin-left: 30%;
  margin-top: 20%;
  position: relative;
}

.con-width {
  width: 200px;
}

.l-container {
  margin-left: 50%;
  margin-top: 20%;
  position: relative;
}

.specs {
  border: 2px solid white;
  padding-bottom: 10px;
  padding-right: 15px;
  font-family: helvetica;
  font-size: 10px;
  position: absolute;
}

.sw {

}

.lw {

}

a {
  text-decoration: none;
}

a: visited {
  color: red;
}


/*
.wrapper {
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  color: #FFF;
  opacity: .75;
}

.name {
    font-family:
}

h2, h4 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  opacity: 0.2;
}

a {
  color: #FF0000;
  text-decoration: none;
  border: 1px dotted #000;
  opacity: .55;
}

a:visited {
  color: #ff3aa4;
}

.parent {font-size: 0; line-height: 0;}
.no-gutters {margin: 0;}
.no-left-gutter {}


.c1, .c2, .c3, .c4, .c5, .c6 {

  font-size: 16px;
  line-height: 20px;
  margin: 0 15px 30px 15px;
  display: inline-block;
  background-color: black;
  opacity: .29;
}

.c1 {width: 130px;}





img {
  width: 100%;
  margin: auto;
}*/
